.inner {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
}

.inner textarea {
  padding: 10px;
  width: 100%;

  border-radius: var(--radius-sm);
  border: 1px solid #ebebeb;
}

.inner button[type="submit"] {
  padding: 10px;
  width: 120px;
  justify-self: end;

  background-color: var(--social-brand-color);
  color: var(--content-bg-color);
  border-radius: var(--radius-sm);
}

.inner button[type="submit"]:hover {
  background-color: var(--hover-btn);
}