.inner  {
  display: grid;
  gap: 5px;
  align-items: center;
  grid-template-columns: min-content min-content;
  grid-area: likes;
}

.icon {
  width: 15px;
  height: 15px;
  background-color: transparent;
}

.icon svg {
  fill: var(--social-brand-color);
}

.count {
  font-size: 12px;
  color: var(--social-brand-light);
}
