.dialogs {
  display: grid;
  gap: 20px;
  grid-template-columns: 180px 1fr;
}

.dialogsList {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.dialog {
  display: flex;
  align-items: center;
}

.dialog a {
  font-weight: bold;
  color: var(--social-brand-color);
}