.user {
  display: grid;
  gap: 20px;
  grid-template-columns: 60px 1fr;

  padding: var(--gap-inner);

  background-color: white;
  border-radius: var(--radius-sm);
  border: 1px solid lightgrey;
}

.avatar {
  width: 60px;
  height: 60px;

  border-radius: var(--radius-circle);
  background-color: var(--social-brand-light);
}

.info {
  display: grid;
  gap: var(--gap-inner);
  grid-template-columns: 1fr;
}

.name {
  font-size: 18px;
}

.dataTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  border-radius: var(--radius-md);
  font-size: 14px;
}
