.profile {
  position: relative;
}

.inner {
  display: grid;
  gap: var(--gap-inner);
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-items: center;
}

.header {
  display: grid;
  gap: 10px;
  grid-template-columns: 20px 1fr;
  align-items: center;

  padding: 8px;
  border-radius: var(--radius-sm);
  color: var(--content-bg-color);
  background-color: var(--social-brand-color);
}

.icon {
  width: 20px;
  height: 20px;
}

.title {
  font-weight: normal;
  font-size: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-inner);
  overflow: auto;
}


@media(min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}