.nav {
  position: relative;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.inner,
.list {
  display: grid;
  grid-template-columns: 1fr;
}

.list {
  background-color: var(--nav-list);  
}

.list li {
  border-top: 1px solid var(--social-brand-color);
  border-bottom: 1px solid var(--hover-transparent);
}

.list li:first-child {
  border-top: none;
}

.list li:last-child {
  border-bottom: none;
}


.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;

  font-size: 18px;
  color: white;
  font-weight: normal;

  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}


.link:focus,
.link:hover {
  background-color: var(--hover-transparent);
  color: var(--basic-b-color);
} 

.link:focus svg,
.link:hover svg {
  fill: white;
}

.icon {
  width: 20px;
  height: 20px;
}

.text {
  display: block;
}