:root {
  --content-bg-color: whitesmoke;
  --social-brand-light: #717171;
  /* --social-brand-color: #439346; */
  --social-brand-color: #507d7b;
  --transparent: #ffffff40;

  --hover-transparent: #507d7b;
  --hover-btn: #ffffffaf;

  --basic-b-color: #abbbdf;
  --basic-grid-item: #40556f;
  --gradient: -90deg, #c5e459, #23a6d5;
  --nav-list: #507d7b;
  --light: #ebebeb;

  --main-font: 'Raleway', sans-serif;
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 50px;
  --radius-circle: 50%;

  --gap-inner: 10px;
  --gap-vidget: 20px;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--main-font);
  font-weight: 100;
  background-color: var(--light);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: var(--social-brand-light);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


button {
  padding: 0;
  cursor: pointer;

  border: none;
  font-family: inherit;
  font-size: 1rem;
}

svg {
  fill: var(--basic-b-color);
}

.active {
  color: var(--basic-b-color) !important;
}

.social-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    "header aside"
    "content content"
    "footer footer";
}

@media(min-width: 648px) {
  .social-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 768px) {
  .social-wrapper {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content 1fr 80px;
    grid-template-areas:
      "header header header header header"
      "aside content content content content"
      "aside footer footer footer footer";
  }
}